body{
    margin: 0px;
    padding: 0px;
    background-color: #4a474714;
}
h2,h3,h4,p,a,span{
    font-family: 'Poppins', sans-serif;
 }
.conteiners {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .conteiner {
        width: 80%;
    }

/* header stylesheet */

.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.conteiner {
    width: 80%;
}

.conteiners {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.header-title h2 {
    font-size: 20px;
    color: #000000cf;
    font-weight: 600;
}

.main-menu {
    display: flex;
    align-items: center;
}

.menu-title ul {
    display: flex;
    align-items: center;
}

.menu-title ul li {
    list-style: none;
    margin-right: 22px;
}

.menu-title ul li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #000000cf;
}
